h1{
    background-color: aquamarine;
    text-align: center;
}
 
body{
    background-color: aqua;
    text-align: center;
}

button{
    background-color: blue;
    color: aliceblue;
}
h2{
    background-color: blueviolet;
}